.pane {
  background-color: #0e0f10;
  border: 2px solid #1e1e24;
  color: white;
  min-height: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.header {
  min-height: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid #81786a;
  display: flex;
  padding: 20px;
  background-color: #161619;
  color: #9898a8;
}
.header .icon-label-wrapper {
  display: flex;
  gap: 10px;
}

.header .panel-label {

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.1rem;
}
.header .slash {
  margin-right: 10px;
  margin-left: 10px;
}
